body{
    background-image: url(../To\ Do\ List/bge.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    margin-top: 10%;
    margin-bottom: 15%;
    text-align: center;
    font-size: 70px;
    background-color: rgba(0, 174, 255, 0.4);
    color: white;
}

h2{
    margin: 0%;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
}



section{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

div{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.282);
    width: 400px;
    height: 200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

p{
    padding-top: 3%;
    color: rgb(0, 0, 0);
}

.btn1{
    height: 30px;
    width: 80px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.btn1:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 3, 105);
    
}

.btn2{
    height: 30px;
    width: 80px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.btn2:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 3, 105);
    
}

